<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Time-series plot</title>

        <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.3.min.css" type="text/css" />
        <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.3.min.js"></script>
        
        
        {{ plot_script |safe }}

    </head>
    <body>
    <div class=page>
    <h1> Generated plot for {{ sym }} </h1>
    <h4> <a href="/index">Back</a></h4>
        {{ plot_div |safe }}
    </div>
    </body>
</html>