<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.4.min.css" type="text/css" />
<script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-0.12.4.min.js"></script>
<link href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.4.min.css"  rel="stylesheet" type="text/css">
<script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.4.min.js"></script>

<script>
  $( function() {
    var dateFormat = "mm/dd/yy",
      from = $( "#from" )
        .datepicker({
          defaultDate: "+1w",
          changeMonth: true,
          changeYear:true,
          yearRange:"c-50:c"
         })
        .on( "change", function() {
          to.datepicker( "option", "minDate", getDate( this ) );
        }),
      to = $( "#to" ).datepicker({
        defaultDate: "+1w",
        changeMonth: true,
        changeYear: true,
        yearRange:"c-50:c"
          })
      .on( "change", function() {
        from.datepicker( "option", "maxDate", getDate( this ) );
      });
 
    function getDate( element ) {
      var date;
      try {
        date = $.datepicker.parseDate( dateFormat, element.value );
      } catch( error ) {
        date = null;
      }
 
      return date;
    }
  } );
  </script>

{{ script_symbols |safe }}
{{ script_params | safe }}

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>QuantFy</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/simple-sidebar.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="/index">
                        <p> QuantFy &copy; </p>
                    </a>
                </li>
                
                <li>
                    <a href="/price_plot">Stock prices (Time-series plot) </a>
                </li>
                <li>
                    <a href="/portfolio">Portfolio Optimization</a>
                </li>
               <li>
                    <a href="#demo" data-toggle="collapse" class="panel-collapse collapse.in">Stocks and Trading</a>
                    
                     <ul class="list-unstyled" id ="demo" class="panel-collapse collapse" style="color: #999999;">
                        <li> <a href="/marketSimUpload">Market simulator </a> </li>
                        <li>Rule based trader Vs. ML trader</li>
                        <li>Q-Learning</li>
                    </ul>
                    
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                
                <li>
                    <a href="#">Contact</a>
                </li>

                 <li>
                    <a href="/price_plot_interactive"> Beta version (Visual Plot 1)</a>

                </li>
                <li>
                    <a href="/price_plot_interactive_2"> Beta version (Visual Plot 2)</a>
                    
                </li>
                <li>
                    <a href="#"> Beta version (Visual Plot 3)</a>
                    
                </li>

                
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>QuantFy: Beta-version of interactive plots</h1>
                        <p> 
                         Please enter a stock ticker eg. GOOG, and check desired features. Mulitple stock (symbols) are seperated by ; <br></br>
                         Default benchmark comparision is SPY (SP 500 trade).
                         To change the default value, use the respective ticker symbol in the form below
                         This page is for beta version of interactive visulationzaton plots
                         </p>
                        
                        <form id='tickersymform' method='post' action='price_plot_interactive_2' >

                        <table style="width:80%">
                         <tr>
                          <td> <p> Ticker Symbol(s): <input type='text' name='sym' placeholder="GOOG" /> {{ error_sym | safe }}</p> </td>
                          <td> <p> Benchmark symbol: <input type='text' name='bench_sym' value='SPY' /> </p> </td> <!-- default value is SP500 -->
                          <td> <p> Start date:       <input type='text' name='start_date' id="from" placeholder="MM/DD/YYYY" /> {{ error_start_date | safe }} </p></td>
                          <td> <p> End date:         <input type='text' name='end_date' id="to" placeholder="MM/DD/YYYY"/> {{ error_end_date | safe }} </p> </td>
                         </tr>
                        </table>
                        
                        <h4> Select a Data-source (More to be added):  {{ error_data | safe }}</h4> 
                        <input type='radio' name='data' id='yahoo_data' value='get_data_yahoo' /> Yahoo Finance (yet to be enabled) {{ error_yahoo | safe }} <br>  <!-- name should be same for all radio buttons -->
                        <input type='radio' name='data' id='quandl_data' value= 'get_data_quandl' checked /> Quandl <br>
                        
                       
                        <br>
                        
                        <input type='submit' class="btn btn-default" value='Submit' />
                         
                        </form>

                        <br>
                        <br>
                        <br>

                        {{ plot_div_symbols | safe }} <!-- this will be a table form, and this will be for all the symbols -->
                        {{ plot_div_features | safe }} <!-- this will be a table form, and this will be for all the features -->
                                            <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /#page-content-wrapper -->

                        </div>
    <!-- /#wrapper -->

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>
